/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2015, 4:21:20 PM
    Author     : User
*/
.element_margin{
    border-radius: 5px;
    border: 2px solid #099; 
    border-style: dashed;
    min-height: 30px;
    
}
.canvas_margin{
    border-radius: 5px;
    border: 2px solid #783322; 
    border-style: dashed;
    
}
